{% load static %}
<!DOCTYPE html>

<html>
<head>
    <meta name = "viewport" content="with=device-width, initial-scale=1.0"> 
    <title> MammoX: Breast Density Detector </title>
    <link rel="shortcut icon" href="{% static 'Images/logo.png' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap" rel="stylesheet">
</head>

<body>
<section class="redirect">
    <nav4>
        <img src="{% static 'Images/fulllogo.png' %}"></a>
    </nav4>
    <div class="border">
        <img src="{% static 'Images/redirect.png' %}"></a>
        <div class="ring">
            <span></span>
          </div>
    </div>

  


</section>
</body>