*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}
html{background-color: #35363A;
}


.header{
    min-height: 100vh;
    width: 100%;
    background-image:url(Images/Background.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav1{
    display:flex;
    padding: 22px 24px;
    justify-content: space-between;
    align-items: center;
}

.nav-links1{
    flex:1;
    text-align: right;
}

.nav-links1 ul li{
    list-style:none;   
    display: inline-block;
    padding: 3% 5%;
    position: relative;
}

.nav-links1 ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}


.nav-links1 ul li::after{
    content: '';
    width: 0%;
    height: 1px;
    background: #fff;
    display:block;
    margin: auto;
    transition:0.5s;
}

.nav-links1 ul li:hover::after{
    width:70%;
}

.text-box{
    width: 90%;
    color: #35363A;
    position: absolute;
    transform: translate(70px, 340px);
    text-align:left;
    text-decoration:none;
    color:#fff;
    font-size:16px;
}

input[type=file]::file-selector-button {
    display:inline-block;
    text-decoration:none;
    color:#fff;
    border: 1px solid#fff;
    padding:12px 34px;
    font-size:16px;
    background-color: #35363A;
    position: relative;
    cursor:pointer;
    border-radius: 15px;
  }
  
  input[type=file]::file-selector-button:hover {
    background: #4822AE;
  }
.hero-btn{
    display:inline-block;
    text-decoration:none;
    color:#fff;
    border: 1px solid#fff;
    padding:12px 34px;
    font-size:16px;
    background-color: #35363A;
    position: relative;
    cursor:pointer;
    border-radius: 15px;
}

.hero-btn:hover{
    border: 1px solid #fff;
    background: #4822AE;
    transition: 1s;
}

/*----- About------*/

.about{
    min-height: 100vh;
    width: 100%;
    background-image:url(Images/Aboutfinal.png);
    background-position: center;
    background-size: cover;
    
}
nav2{
    display:flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links2{
    flex:1;
    text-align: right;
}

.nav-links2 ul li{
    list-style:none;   
    display: inline-block;
    padding: 90px 90px;
    position: relative;
}

.nav-links2 ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;

}

.nav-links2 ul li::after{
    content: '';
    width: 0%;
    height: 1px;
    background: #fff;
    display:block;
    margin: auto;
    transition:0.5s;
}

.nav-links2 ul li:hover::after{
    width:70%;
}



/*----- Contact------*/


.contact{
    min-height: 100vh;
    width: 100%;
    background-image:url(Images/contactus.png);
    background-position: center;
    background-size: cover;
    
}
nav3{
    display:flex;
    padding: 4% 4%;
    justify-content: space-between;
    align-items: center;
}

.nav-links3{
    flex:1;
    text-align: right;
}

.nav-links3 ul li{
    list-style:none;   
    display: inline-block;
    padding: 13px 70px;
    position: relative;
}

.nav-links3 ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;

}

.nav-links3 ul li::after{
    content: '';
    width: 0%;
    height: 1px;
    background: #fff;
    display:block;
    margin: auto;
    transition:0.5s;
}

.nav-links3 ul li:hover::after{
    width:70%;
}


/*-------Contact Comment Box-------*/

.contact-form input, .contact-form textarea{
 
    width:40%;
    padding:20px;
    margin: 10px 80px;
    box-sizing: border-box;
    border: 1px solid #fff;
    outline:0.5px solid #fff;
    background: #35363A;
    border-radius: 10px;
    color: #fff;
}

