*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}
html{background-color: #35363A;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image:url(Images/BackgroundLilac.png);
    background-position: center;
    background-size: cover;
    position: absolute;
}


nav1{
    display:flex;
    padding: 3% 2%;
    justify-content: space-between;
    align-items: center;
}

nav1 img{
    width: 300px;
}


.nav-links1{
    flex:1;
    text-align: right;
}


.nav-links1 ul li{
    list-style:none;   
    display: inline-block;
    padding: 0% 5%;
    position: relative;
}

.nav-links1 ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}


.nav-links1 ul li::after{
    content: '';
    width: 0%;
    height: 1px;
    background: #fff;
    display:block;
    margin: auto;
    transition:0.5s;
}

.nav-links1 ul li:hover::after{
    width:70%;
}

.frame {
    margin:auto;
    height: 490px;
    width: 1250px;
    border: 1px solid rgb(255, 255, 255,1);
    padding: 0% 5%;
    border-radius: 20px;
}

.frame img{
    margin:auto;
    display: block;
    padding: 2% 0%;

}
.warning{
    padding: 0% -4%;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    display: block;
    transform: translate(400px, 10px);
}
.break img{
    margin-left: auto;
    margin-right:auto;
    width:100%;
    display: block;
    transform: translate(0px, 10px);
}

.text-box{
    width: 90%;
    color: #35363A;
    text-align:left;
    text-decoration:none;
    color:#fff;
    font-size:13px;
    margin: 0;
    position: absolute;
    transform: translateY(-150%);
}

input[type=file]::file-selector-button {
    display:inline-block;
    text-decoration:none;
    color:#fff;
    border: 1px solid#fff;
    padding:12px 30px;
    font-size:13px;
    background-color: #35363A;
    cursor:pointer;
    border-radius: 15px;
  }
  
  input[type=file]::file-selector-button:hover {
    background: #4822AE;
  }
.hero-btn{
    display:inline-block;
    text-decoration:none;
    color:#fff;
    border: 1px solid#fff;
    font-size:13px;
    background-color: #35363A;
    cursor:pointer;
    border-radius: 15px;
    padding:12px 30px;
}

.hero-btn:hover{
    border: 1px solid #fff;
    background: #4822AE;
    transition: 1s;
}

/*----- About------*/

.about{
    min-height: 100vh;
    width: 100%;
    background-image:url(Images/Aboutfinal.png);
    background-position: center;
    background-size: cover;
    position: absolute;
}


nav2{
    display:flex;
    padding: 3% 2%;
    justify-content: space-between;
    align-items: center;
}

nav2 img{
    width: 300px;
}


.nav-links2{
    flex:1;
    text-align: right;
}


.nav-links2 ul li{
    list-style:none;   
    display: inline-block;
    padding: 0% 5%;
    position: relative;
}

.nav-links2 ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}


.nav-links2 ul li::after{
    content: '';
    width: 0%;
    height: 1px;
    background: #fff;
    display:block;
    margin: auto;
    transition:0.5s;
}

.nav-links2 ul li:hover::after{
    width:70%;
}
/*-------Contact Comment Box-------*/


.contact{
    min-height: 100vh;
    width: 100%;
    background-image:url(Images/contactus.png);
    background-position: center;
    background-size: cover;
    position: absolute;
}


nav3{
    display:flex;
    padding: 3% 2%;
    justify-content: space-between;
    align-items: center;
}

nav3 img{
    width: 300px;
}


.nav-links3{
    flex:1;
    text-align: right;
}


.nav-links3 ul li{
    list-style:none;   
    display: inline-block;
    padding: 0% 5%;
    position: relative;
}

.nav-links3 ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}


.nav-links3 ul li::after{
    content: '';
    width: 0%;
    height: 1px;
    background: #fff;
    display:block;
    margin: auto;
    transition:0.5s;
}

.nav-links3 ul li:hover::after{
    width:70%;
}

.contactframe{
    margin:auto;
    height: 580px;
    width: 1250px;
    border: 1px solid rgb(255, 255, 255,1);
    padding: 0% 5%;
    border-radius: 20px;
}
.placeholder{
    transform: translate(60%,-80%);
}
.title{
    transform: translate(-2%,-530%);
}
.contact-form input, .contact-form textarea{
 
    width:50%;
    padding:10px;
    margin: 20px 200px;
    box-sizing: border-box;
    border: 1px solid #fff;
    outline:0.5px solid #fff;
    background: #35363A;
    border-radius: 10px;
    color: #fff;
    transform: translateY(20%);
    transform: translateX(-40%);
}


/*-------Redirect Page-------*/
.redirect{
    min-height: 100vh;
    width: 100%;
    background-color: #35363A;
    background-position: center;
    background-size: cover;
    position: absolute;
}

nav4{
    display:flex;
    padding: 3% 2%;
    justify-content: space-between;
    align-items: center;
}

nav4 img{
    width: 300px;
}

.border1 {
    margin:auto;
    position: relative;
    height: 530px;
    width: 1250px;
    border: 1px solid rgb(255, 255, 255,1);
    padding: 0% 5%;
    border-radius: 20px;
}

.text1 img{
    width: 600px;
    position: absolute;
    transform:translate(60%,90%);
}




/*-------Results Page-------*/
.results{
    min-height: 100vh;
    width: 100%;
    background-color: #35363A;
    background-position: center;
    background-size: cover;
    position: absolute;
}

nav5{
    display:flex;
    padding: 3% 2%;
    justify-content: space-between;
    align-items: center;
}

nav5 img{
    width: 300px;
}

.border2 {
    margin:auto;
    height: 530px;
    width: 1250px;
    border: 1px solid rgb(255, 255, 255,1);
    padding: 0% 5%;
    border-radius: 20px;
}

.border2 img{
    width: 500px;
    transform: translate(60%,180%);
}
.resframe img{
    width: 420px;
    transform: translate(-100%,5%);
}

.top img{
    width: 400px;
    transform: translate(-100%,10%);
}

.small-border{
    margin:auto;
    height: 230px;
    width: 550px;
    border: 1px solid rgb(255, 255, 255,1);
    padding: 0% 5%;
    border-radius: 20px;
    transform: translate(42%,-120%);
}

.result1 img{
    width: 300px;
    transform: translate(0%,210%);
}

.result2 img{
    width: 240px;
    transform: translate(0%,210%);
}



